@charset "UTF-8";
@font-face {
  font-family: "noto_sans_jp";
  src: url("../../font/Noto_Sans_JP/NotoSansJP-Black.otf") format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: "noto_sans_jp";
  src: url("../../font/Noto_Sans_JP/NotoSansJP-Bold.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "noto_sans_jp";
  src: url("../../font/Noto_Sans_JP/NotoSansJP-Light.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "noto_sans_jp";
  src: url("../../font/Noto_Sans_JP/NotoSansJP-Medium.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "noto_sans_jp";
  src: url("../../font/Noto_Sans_JP/NotoSansJP-Regular.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "noto_sans_jp";
  src: url("../../font/Noto_Sans_JP/NotoSansJP-Thin.otf") format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "fira_sans";
  src: url("../../font/Fira_Sans/FiraSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "roboto";
  src: url("../../font/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
body {
  padding-top: 100px;
  background-color: #fff;
  color: #1a1a1a;
  font-family: "noto_sans_jp", "fira_sans", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", "YuGothic", "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
@media (max-width: 1280px) {
  body {
    padding-top: 60px;
  }
}

a {
  color: inherit;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}
@media (max-width: 1280px) {
  .header {
    height: 60px;
  }
}
.header-inner {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.header-logo {
  margin-right: auto;
  color: #023E78;
  font-size: 40px;
  font-family: "roboto";
  font-weight: 700;
  font-style: italic;
}
@media (max-width: 1280px) {
  .header-logo {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .header-logo {
    margin-right: auto;
    font-size: 28px;
  }
}
.header-nav {
  margin-right: 32px;
}
@media (max-width: 1280px) {
  .header-nav {
    display: none;
  }
}
.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav ul li {
  padding-right: 36px;
  position: relative;
}
.header-nav ul li a {
  display: block;
  position: relative;
  font-size: 14px;
}
.header-nav ul li a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #888888;
  position: absolute;
  left: 0;
  bottom: -12px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.header-nav ul li a:hover::after {
  bottom: -6px;
  opacity: 1;
  visibility: visible;
}
.header-nav ul li::after {
  content: "/";
  font-family: "fira_sans";
  font-size: 14px;
  font-weight: 100;
  position: absolute;
  top: 50%;
  right: 14px;
  -webkit-transform: translateY(-50%) rotate(25deg);
          transform: translateY(-50%) rotate(25deg);
}
.header-nav ul li:last-child {
  margin-right: 0;
  padding-right: 0;
}
.header-nav ul li:last-child::after {
  content: "";
}
@media (max-width: 1280px) {
  .header-btn {
    display: none;
  }
}
.header-btn a {
  width: 176px;
  padding: 24px 0;
  display: block;
  font-size: 14px;
  text-align: center;
}
.header-btn._download {
  margin-right: 10px;
}
.header-btn._download a {
  border: 1px solid #023E78;
  background-color: #fff;
  color: #023E78;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.header-btn._download a:hover {
  background-color: #023E78;
  color: #fff;
}
.header-btn._contact a {
  border: 1px solid #023E78;
  background-color: #023E78;
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.header-btn._contact a:hover {
  border: 1px solid #002a52;
  background-color: #002a52;
}

.top {
  height: 281px;
  margin-bottom: 13px;
  position: relative;
}
.top._about {
  background: transparent url("../../img/mv-company_pc.jpg") no-repeat center center/cover;
}
@media (max-width: 767px) {
  .top._about {
    background: transparent url("../../img/mv-company_sp.jpg") no-repeat center center/cover;
  }
}
.top._service {
  background: transparent url("../../img/mv-service_pc.jpg") no-repeat center center/cover;
}
@media (max-width: 767px) {
  .top._service {
    background: transparent url("../../img/mv-service_sp.jpg") no-repeat center center/cover;
  }
}
.top._news {
  background: transparent url("../../img/mv-news_pc.jpg") no-repeat center center/cover;
}
@media (max-width: 767px) {
  .top._news {
    background: transparent url("../../img/mv-news_sp.jpg") no-repeat center center/cover;
  }
}
.top._case {
  background: transparent url("../../img/mv-company_pc.jpg") no-repeat center center/cover;
}
@media (max-width: 767px) {
  .top._case {
    background: transparent url("../../img/mv-company_sp.jpg") no-repeat center center/cover;
  }
}
.top._download {
  background: transparent url("../../img/mv-download_pc.jpg") no-repeat center center/cover;
}
@media (max-width: 767px) {
  .top._download {
    background: transparent url("../../img/mv-download_sp.jpg") no-repeat center center/cover;
  }
}
.top._contact {
  background: transparent url("../../img/mv-contact_pc.jpg") no-repeat center center/cover;
}
@media (max-width: 767px) {
  .top._contact {
    background: transparent url("../../img/mv-contact_sp.jpg") no-repeat center center/cover;
  }
}
.top::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #023E78;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: skewX(-33deg) translateX(-78%);
          transform: skewX(-33deg) translateX(-78%);
}
@media (max-width: 767px) {
  .top::before {
    -webkit-transform: skewX(-23deg) translateX(-80%);
            transform: skewX(-23deg) translateX(-80%);
  }
}
.top-inner {
  padding: 71px 0;
  position: relative;
}
@media (max-width: 767px) {
  .top-inner {
    padding: 71px 20px;
  }
}
.top-content {
  position: absolute;
  top: 50%;
  left: 17%;
}
@media (max-width: 767px) {
  .top-content {
    left: 20px;
  }
}
.top-tit {
  margin-bottom: 8px;
  padding: 0 15px 0 2px;
  background-color: #fff;
  color: #023E78;
  font-size: 60px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.2;
}
@media (max-width: 1024px) {
  .top-tit {
    font-size: 5.9vw;
  }
}
@media (max-width: 767px) {
  .top-tit {
    font-size: 32px;
    line-height: 1.1875;
  }
}
.top-subtit {
  background-color: #fff;
  display: inline-block;
  color: #023E78;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.45;
}
@media (max-width: 1024px) {
  .top-subtit {
    font-size: 2vw;
  }
}
@media (max-width: 767px) {
  .top-subtit {
    font-size: 16px;
    line-height: 1.5;
  }
}

.breadcrumb {
  margin-bottom: 81px;
}
@media (max-width: 767px) {
  .breadcrumb {
    margin-bottom: 61px;
  }
}
.breadcrumb-inner {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 767px) {
  .breadcrumb-inner {
    padding: 0 20px;
  }
}
.breadcrumb-inner span {
  font-size: 12px;
}
.breadcrumb-rightArrow {
  margin: 0 8px;
  font-size: 14px;
}

.drawer {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.drawer.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.drawer-btn {
  width: 27px;
  height: 16px;
  display: none;
  position: fixed;
  top: 22px;
  right: 20px;
  z-index: 210;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .drawer-btn {
    display: block;
  }
}
.drawer-icons {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.drawer-icon {
  width: 100%;
  height: 2px;
  border-radius: 999px;
  background-color: #023E78;
  display: inline-block;
  position: absolute;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.drawer-icon:nth-child(1) {
  top: 0;
}
.drawer-icon:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.drawer-icon:nth-child(3) {
  bottom: 0;
}
.drawer-icon.open {
  top: 50%;
}
.drawer-icon.open:nth-child(1) {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
.drawer-icon.open:nth-child(2) {
  opacity: 0;
}
.drawer-icon.open:nth-child(3) {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.drawer-content {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 60px 40px;
  position: relative;
  z-index: 120;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.drawer-content.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.drawer-nav {
  margin-bottom: 40px;
}
.drawer-nav ul li {
  margin-bottom: 40px;
  text-align: center;
}
.drawer-nav ul li:last-child {
  margin-bottom: 0;
}
.drawer-nav ul li a {
  color: #fff;
  font-size: 20px;
}
@media (max-width: 767px) {
  .drawer-nav ul li a {
    font-size: 16px;
  }
}
.drawer-navbtn a {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 24px 0;
  display: block;
  font-size: 14px;
  text-align: center;
}
.drawer-navbtn._download {
  margin-bottom: 40px;
}
.drawer-navbtn._download a {
  border: 1px solid #fff;
  background-color: #023E78;
  color: #fff;
}
.drawer-navbtn._contact a {
  border: 1px solid #023E78;
  background-color: #fff;
  color: #023E78;
}
.drawer-bg {
  width: 100%;
  height: 100%;
  background-color: #023E78;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
  -webkit-transform: translateY(calc(-100% - 60px));
          transform: translateY(calc(-100% - 60px));
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.drawer-bg.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.fbtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .fbtns {
    display: block;
  }
}
.fbtns-content {
  width: 50%;
}
.fbtns-content._download {
  background: transparent url("../../img/img-download.jpg") no-repeat center center/cover;
}
.fbtns-content._contact {
  background: transparent url("../../img/img-contact.jpg") no-repeat center center/cover;
}
@media (max-width: 767px) {
  .fbtns-content {
    width: 100%;
  }
}
.fbtns-inner {
  max-width: 315px;
  margin: 0 auto;
  padding: 56px 0 50px;
}
@media (max-width: 767px) {
  .fbtns-inner {
    max-width: 375px;
    padding: 45px 40px 25px;
  }
}
.fbtns-tit {
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.2333333333;
  text-align: center;
}
@media (max-width: 767px) {
  .fbtns-tit {
    font-size: 40px;
    line-height: 1.2;
  }
}
.fbtns-subtit {
  margin-bottom: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.fbtns-btn {
  width: 100%;
}
.fbtns-btn a {
  padding: 35px 0;
  border: 3px solid #FEF251;
  display: block;
  color: #FEF251;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (max-width: 767px) {
  .fbtns-btn a {
    font-size: 16px;
  }
}
.fbtns-btn a::after {
  content: "";
  width: 20px;
  height: 14px;
  background-image: url("../../img/icon-arrow-yellow.svg");
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 32px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.fbtns-btn a:hover {
  background-color: #FEF251;
  color: #1a1a1a;
}
.fbtns-btn a:hover::after {
  width: 16px;
  height: 10px;
  background-image: url("../../img/icon-arrow-black.svg");
  right: 22px;
}

.footer {
  background-color: #1a1a1a;
  position: relative;
}
.footer-inner {
  width: 100%;
  max-width: 549px;
  margin: 0 auto;
  padding: 114px 90px 19px;
}
@media (max-width: 767px) {
  .footer-inner {
    padding: 65px 40px 13px;
  }
}
.footer-tit {
  margin-bottom: 24px;
  color: #fff;
  font-size: 52px;
  font-family: "roboto";
  font-weight: 700;
  font-style: italic;
  line-height: 1.3076923077;
  text-align: center;
}
@media (max-width: 767px) {
  .footer-tit {
    font-size: 40px;
    line-height: 1.325;
  }
}
.footer-info {
  width: 100%;
  max-width: 235px;
  margin: 0 auto 80px;
}
@media (max-width: 767px) {
  .footer-info {
    margin-bottom: 40px;
  }
}
.footer-txt {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7142857143;
}
.footer-copyright {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  text-align: center;
}
@media (max-width: 767px) {
  .footer-copyright {
    font-size: 12px;
    line-height: 2;
  }
}
.footer-topbtn {
  width: 40px;
  height: 40px;
  background-image: url("../../img/icon-top.svg");
  position: absolute;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
}

.content {
  margin-bottom: 160px;
}
@media (max-width: 767px) {
  .content {
    margin-bottom: 100px;
  }
}
.content-inner {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .content-inner {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .content-inner {
    display: block;
  }
}

.product {
  width: calc(50% - 40px);
  margin-right: 40px;
}
@media (max-width: 767px) {
  .product {
    width: 100%;
    margin-right: 0;
    margin-bottom: 60px;
  }
}
.product-inner {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .product-inner {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .product-inner {
    display: block;
  }
}
.product-tit {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.4285714286;
}
@media (max-width: 767px) {
  .product-tit {
    font-size: 20px;
    line-height: 1.4;
  }
}
.product-img {
  max-width: 275px;
  margin: 0 auto 40px;
}
.product-img img {
  width: 100%;
}
.product-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
}

.form {
  width: 50%;
  padding: 40px;
  border-radius: 12px;
  background-color: #EDF3F8;
}
@media (max-width: 767px) {
  .form {
    width: 100%;
    padding: 40px 20px;
  }
}
.form-tit {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .form-tit {
    font-size: 24px;
  }
}
.form-part {
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .form-part {
    margin-bottom: 20px;
  }
}
.form-part:last-child {
  margin-bottom: 40px;
}
.form-label {
  margin-bottom: 13px;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
}
.form-label.required::after {
  content: "必須";
  width: 40px;
  padding: 3px 0;
  background-color: #D33365;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  top: 50%;
  left: calc(100% + 9px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 767px) {
  .form-label.required::after {
    padding: 2px 0;
    left: calc(100% + 8px);
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  .form-label {
    margin-bottom: 8px;
    font-size: 14px;
  }
}
.form-text {
  width: 100%;
  padding: 10px 16px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  display: block;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media (max-width: 767px) {
  .form-text {
    padding: 12px 14px;
    font-size: 14px;
  }
}
.form-text:focus {
  outline: none;
}
.form-text::-webkit-input-placeholder {
  color: #CCCCCC;
}
.form-text::-moz-placeholder {
  color: #CCCCCC;
}
.form-text:-ms-input-placeholder {
  color: #CCCCCC;
}
.form-text::-ms-input-placeholder {
  color: #CCCCCC;
}
.form-text::placeholder {
  color: #CCCCCC;
}
.form-check {
  margin-bottom: 40px;
  text-align: center;
}
.form-checkbox {
  display: none;
}
.form-checkbox + span {
  margin: 0 auto;
  padding-left: 42px;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}
@media (max-width: 767px) {
  .form-checkbox + span {
    padding-left: 38px;
    font-size: 14px;
  }
}
.form-checkbox + span span {
  margin-right: 10px;
  font-weight: 500;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .form-checkbox + span span {
    margin-right: 6px;
  }
}
.form-checkbox + span::before {
  content: "";
  width: 32px;
  height: 32px;
  background: #fff;
  border: 1px solid #3E3E3E;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 767px) {
  .form-checkbox + span::before {
    width: 28px;
    height: 28px;
  }
}
.form-checkbox + span::after {
  content: "";
  width: 24px;
  height: 11px;
  border-bottom: 3px solid #3E3E3E;
  border-left: 3px solid #3E3E3E;
  display: block;
  position: absolute;
  top: 30%;
  left: 4px;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
}
@media (max-width: 767px) {
  .form-checkbox + span::after {
    width: 19px;
    height: 8px;
  }
}
.form-checkbox:checked + span::after {
  opacity: 1;
}
.form-btn {
  text-align: center;
}
.form-submit {
  width: 100%;
  max-width: 336px;
  padding: 24px 0;
  border: 1px solid #023E78;
  background-color: #fff;
  display: inline-block;
  color: #023E78;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (max-width: 767px) {
  .form-submit {
    padding: 26px 0;
    font-size: 14px;
  }
}
.form-submit:hover {
  outline: none;
  background-color: #023E78;
  color: #fff;
}
.form-submit:focus {
  outline: none;
}